@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');
.titleBar{
    display: flex;
    justify-content: center;
    width: 100vw;
    background: rgb(39, 39, 39);
}
.title{
    color: rgb(235, 235, 235);
    font-family: Unbounded,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}